
.tshirt-color {
    display: flex-inline;
    flex-direction: row;
    flex-wrap: wrap;
  
  
}

.tshirt-color img {
    width: 100px ;
   

}
.tsingle {
   display: inline;
}
.big-cont{
    display: flex;
  
 
}

ul {
    display: flex;
    gap: 50px;
    margin-top: 25%;
    text-transform: capitalize;
  
    
   
    
    

}



li {
    list-style: none;
    font-size: large;
    
  
    
    
    
   
}

a {
    text-decoration: none;
    color: black;
    z-index: 3 !important;
   
}
 .imgc {
    transform: translateX(-50%) translateY(-50%);
    margin-left: 285px;
    margin-top: 170px;
   max-height: 400px;
    max-width: 400px;
    width: fit-content;
    height: fit-content;
  /* margin-top: 270px;
  margin-left: 170px; */

 }
        
        
    



.header {
    background-color: grey;
   
    width: 100%;
    border-bottom: black solid;
    display: flex;
   
    z-index: 3 !important;
   
}
.footer {
    background-color: black;
   
    width: 100%;
    text-align: center;
}
/* .container {

 
 top: 0px;
 height: 400px;
 width: 400px;
} */
            
        

.design-container {
    width: 80%;
    
}
.line {
    height: 2px;
    color: black;
    background-color: black;
    width: 50%;
   margin-left: 0px
}
button {
    
    
 
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
button:hover {background-color: #e7e7e7;}
/* .drag-react{
   position: relative;
   top: 600px;
	
    
   
} */
/* .drag-box{margin-left: 200px;
    margin-top: 300px;}
    element.style {
        position: absolute;
        left: -1px;
        top: -12px;
        z-index: 99999;
        cursor: move;
    } */