.body {
  overflow: hidden;
}
.tshirt-color {
    display: flex-inline;
    flex-direction: row;
    flex-wrap: wrap;
  
  
}
.drag-box {
    height: 400px;
    overflow: auto;
}
.tshirt-color img {
    width: 100px ;
   

}
.tsingle {
   display: inline;
}

@media screen and (max-width: 600px) {
    .big-cont {
      display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
       
        

    }
}
@media screen and (max-width: 600px) {
    .media {
      display: flex;
      flex-direction: column ;
      width: 700px;
      align-items: center;
       

    }
}
@media screen and (max-width: 600px) {
    .footer {
      width: 800px;}}
@media screen and (max-width: 600px) {
    .header {
      width: 800px;}}
@media screen and (max-width: 600px) {
    .tsingle {
      margin: auto;}}
@media screen and (max-width: 600px) {
    .body {
     overflow:auto;
    }}

@media screen and (max-width: 600px) {
    .design-container {
       display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 300px;
        align-items: center;
        overflow: scroll;

               
       
        
        
      
         
    
     

       

    }
}

    




.big-cont{
    display: flex;
  
 
}

ul {
    display: flex;
    gap: 50px;
    margin-top: 18%;
    text-transform: capitalize;
  
    
   
    
    

}



li {
    list-style: none;
    font-size: large;
    
  
    
    
    
   
}
a:hover{
    color: #e7e7e7;
}

a {
    text-decoration: none;
    color: black;
    z-index: 3 !important;
    font-weight: 500;
    text-transform: uppercase;
}
 .imgc {
    transform: translateX(-50%) translateY(-50%);
    margin-left: 285px;
    margin-top: 170px;
   max-height: 400px;
    max-width: 400px;
    width: fit-content;
    height: fit-content;
  /* margin-top: 270px;
  margin-left: 170px; */

 }

        
        
    



.header {
    background-color: grey;
   
   
    
    border-bottom: black solid;
    display: flex;
   
    
   
}
.footer {
    background-color: black;
   
   
    text-align: center;
}
/* .container {

 
 top: 0px;
 height: 400px;
 width: 400px;
} */
            
        .navbar {
            height: 100px;}

.design-container {
    width: 70%;
    
}

.line {
    height: 2px;
    color: black;
    background-color: black;
    width: 50%;
   margin-left: 0px
}
button {
    
    
 
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
button:hover {background-color: #e7e7e7;}
/* .drag-react{
   position: relative;
   top: 600px;
	
    
   
} */
/* .drag-box{margin-left: 200px;
    margin-top: 300px;}
    element.style {
        position: absolute;
        left: -1px;
        top: -12px;
        z-index: 99999;
        cursor: move;
    } */
    .drag-box{
        max-height: 400px;
        overflow: hidden;
    }